// colors
$color-white: #fff;
$color-gray-800: #424551;
$color-gray-900: #1e212c;
$color-primary: #ff3f3a;
$color-primary-main: #fbdbcb;
$color-primary-light: #f75e05;

// font-family
$ff-default: 'Lato', sans-serif;

// font-sizes
$fs-default: 16px;

// font-weights
$fw-normal: 400;
$fw-medium: 700;
$fw-bold: 900;

// layout width
$width-layout: 1230px;

// border-radius
$br-0: 0px;
$br-xs: 4px;
$br-s: 8px;
$br-m: 12px;
$br-l: 16px;
$br-xl: 24px;

// transition
$transition-default: all 0.2s;
